.logged-in-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#c8d8e4), to(#52ab98));
  background: linear-gradient(to right top, #c8d8e4, #52ab98);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 726px) {
  .login-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.login-form .submit {
  margin: 3rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  border: none;
  background: #4B5C77;
  color: white;
}

.login-form .submit:hover {
  background: #525255;
}

.login-form p {
  font-size: 2.5rem;
  color: red;
}

.login-form .baloon-right {
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, right top, from(#c8d8e4), to(#52ab98));
  background: linear-gradient(to right top, #c8d8e4, #52ab98);
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: 25%;
  right: 25%;
}

.login-form .baloon-left {
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, right top, from(#c8d8e4), to(#52ab98));
  background: linear-gradient(to right top, #c8d8e4, #52ab98);
  height: 15rem;
  width: 15rem;
  position: absolute;
  bottom: 25%;
  left: 25%;
}

.login-form img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 15rem;
  width: 30rem;
  z-index: 1;
}

.login-form form {
  z-index: 1;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
}

.login-form form h1 {
  text-align: center;
  width: 80%;
  margin-bottom: 2rem;
  border-bottom: solid 0.4rem #4B5C77;
}

.login-form form div {
  position: relative;
  margin: 1.5rem;
  font-size: 5rem;
  overflow-x: visible;
}

.login-form form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 0.1rem solid #000;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.login-form form input:focus {
  border-bottom-color: #3498db;
}

.login-form form label {
  color: #000;
  position: absolute;
  left: 2%;
  bottom: 10%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.login-form form .label-active {
  font-size: 2rem;
  top: -1rem;
}

table {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-collapse: collapse;
}

table tr {
  font-size: 4rem;
  margin: 1rem;
  border: 0.1rem black solid;
  text-align: center;
}

table tr th {
  padding: 1rem;
  border: 0.1rem black solid;
  font-weight: bold;
  text-decoration: underline;
}

table tr td {
  border: 0.1rem black solid;
}

table tr td a {
  font-size: 2rem;
  color: black;
}

.wrapper {
  font-size: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c8d8e4;
}

.wrapper .search {
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  background-color: #52ab98;
}

.wrapper .search:hover {
  background-color: #529998;
}

.wrapper input {
  width: 50%;
  outline: none;
  border: none;
  border-bottom: solid black;
}

.wrapper .list {
  width: 100%;
}

.wrapper .list .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  margin: 1rem;
  background: #2b6777;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 726px) {
  .wrapper .list .one {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.wrapper .list .one:hover {
  -webkit-box-shadow: 0 5px 10px black, 0 15px 40px gray;
          box-shadow: 0 5px 10px black, 0 15px 40px gray;
}

.wrapper .list .one .card {
  font-size: 1.8rem;
  text-decoration: none;
  padding: 2rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-wrap: break-word;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .list .one div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .list .one div .fas {
  font-size: 2rem;
  padding: 1rem;
  margin-inline: 1.5rem;
  color: black;
}

.wrapper .list .one div .fas:hover {
  color: gray;
}

* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
}

@media (max-width: 726px) {
  * {
    font-size: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */